#uno {
  border-right: 1px solid black;
}

#jugador, .puntuacion, .ronda {
  z-index: 3;
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
  color: black;
}

.grid {
  margin-top: 100px;
  background-color: #B7E5FC;
  opacity: 0.9;
}

.jugar {
  margin-top: 80%;
  border-radius: 30px;
  width: 150;
  color: #003334;
  background-color: #FFFF66;
  font-size: 30px;
  margin-left: 5px;
}

.fullscreen {
  background-image: url('https://cdn6.f-cdn.com/contestentries/185004/9062157/551727800a494_thumb900.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.juego {
  background-color: #DCE5EA;
  color: white;
  text-align: center;
  font-size: 100;
  color: #003334;
  width: 300px;
  height: 400px;
}

.puntuacion {
  margin-top: 300px;
}

.ronda {
  margin-top: 170px;
}
